header{
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo img {
    width: 200px;
}
body {
    background-image: url("./img/camp_background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    list-style: none;
    margin-left: 30px;
    font-size: 30px;
}
header ul li a {
    padding: 0 10px 0 10px;
    text-decoration: none;
    background-color: rgba(102, 102, 102, 0.3);
    border-radius: 20px;
    font-weight: bold;
    color: wheat;
}
header ul li a:hover {
    color: rgb(95, 95, 95);
}
.videobox {
    text-align: center;
}
.videobox iframe {
    width: 30%;
    margin: 50px 30px 0;
}